html, body {
    margin: 0;
    /* background-color: black ; */
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.auth-container {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.633);
    box-shadow: whitesmoke;
    border-radius: 5px;
}

/* Login qnd signup pages' css */
.signPage, .loginPage{
    height: 60vh;
    width: 30vw;
}
.signForm, .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.input-label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    width: 20vw;
    height: 30px;
    padding-left: 1em;
}


h1, .alter-auth{
    text-align: center;
}
 button {
    width: 10vw;
    height: 30px;
    font-size: 1em;
    color: white;
    background-color: #613bdb;
    border: 0;
    border-radius: 5px;
    margin-top: 1rem;
 }